@"
# Build Folders
bin/
obj/
Debug/
Release/

# Visual Studio temporary files
.vs/
*.user
*.suo
*.sln.docstates

# NuGet Packages
*.nupkg
packages/
.nuget/

# Rider
.idea/

# VS Code
.vscode/

# Resharper
_ReSharper*/
*.DotSettings.user

# Publish output
publish/

# Others
*.log
*.cache
*.db
"@ | Set-Content .gitignore